php_value display_errors Off
php_value mbstring.http_input auto
php_value date.timezone Africa/Algiers
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^\.]+)$ $1.php [NC,L]

DirectoryIndex index.php index.html index.htm index2.html



ErrorDocument 403 https://souledj.epizy.com/

ErrorDocument 404 https://souledj.epizy.com/

ErrorDocument 500 https://souledj.epizy.com/